<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel='stylesheet' type="text/css" href="/css/layout.css?v=1">
    <link rel='stylesheet' type="text/css" href="/css/navbar.css?v=1">
    <link rel='stylesheet' type="text/css" href="/css/shadow.css?v=1">
    <title th:text="${pageTitle}">Template</title>
</head>
<body>
    <!-- navbar -->
        <nav class="navigation" id="shadow-navigation">
            <ul class="navbar_homepage">
                <li><a href="/homepage"><b>Home Page</b></a></li>
                <li><a href="/test5"><b>Algorithms</b></a></li>
            </ul>
        </nav>
        <!-- header -->
    <div>
        <header>
            <img th:src="@{/image/optimization_banner.png}" style="width:100%; height:100%">
        </header>
    </div>

    <div class="container">
        <div class="sidebar"> 
                <nav>
					<ul id="menu">
					    <li th:each="template : ${templateNames}">
					      <b><a th:href="@{/templates/{template}(template=${template})}" th:text="${template}"></a></b>
					    </li>
					</ul>

                </nav>
        </div>
        <!-- content -->
        <div class="content">
			<div layout:fragment="content">
			</div>
        </div>

    </div>
    <footer>footer</footer>
</body>
</html>