<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
<div layout:fragment="content">
    <form method="post" enctype="multipart/form-data" th:action="@{/upload}">
		<div class="UserName">
		    <label>User Name:</label>
        	<input type="text" name="username" />
        </div>
		<div class="PassWord">        
			<label>Password :</label>
        	<input type="password" name="userpassword">
        </div>
		<div class="File">
		    <input type="file" name="avatar" />
		</div>
		<div class="SubmitButton">
        	<button type="submit">Submit</button>
        </div>
    </form>
</div>
</body>
</html>